/*Estilos compartidos*/
.styled-shared {
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5em) brightness(1.1);
}

.styled-shared2 {
  background-color: rgba(0, 0, 0, 0.5);
}

/*Estilado del header*/
.container-header {
  width: 95%;
  min-width: 315px;
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  border-radius: 0.3em;
}

.container-header-top {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 50px;
  text-align: center;
}

.container-header-top img {
  width: 80px;
  height: 80px;
}

.container-header-top h1 {
  font-size: 1em;
  text-transform: uppercase;
}

.container-header-top a {
  text-decoration: none;
  color: rgb(10, 119, 25);
}

.container-header-button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
  box-sizing: content-box;
}

.container-header-button .button-menu {
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.3em;
  background-color: rgb(10, 119, 25, 0.6);
  border: 1px outset rgb(10, 119, 25, 0.9);
  padding: 0.5em;
}

.container-header-button .button-menu span {
  position: relative;
  width: 40px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
}

.container-header-button .button-menu span::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 40px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
}

.container-header-button .button-menu span::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 40px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
}

.container-header-button ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-header-button ul li {
  width: 115px;
  height: 4em;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  align-content: center;
  color: white;
  font-size: 0.65em;
  background-color: rgb(10, 119, 25);
  border-radius: 0.3em;
  text-transform: uppercase;
  margin-top: 0.5em;
  overflow: hidden;
}

.container-header-button ul a {
  display: flex;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container-header-resize {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
}

.container-header-resize.active {
  max-height: 200px;
  opacity: 1;
  pointer-events: auto;
}

/*Estilado del footer*/
.container-footer {
  width: 95%;
  min-width: 315px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.container-footer-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 50px;
  text-align: center;
  background-color: red;
}

.container-footer-top .footer-left {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.5em;
  background-color: green;
}

.container-footer-top .footer-left img {
  object-fit: fill;
  width: 80px;
  height: 80px;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: white;
}

.container-footer-top .footer-right {
  width: 70%;
  background-color: blue;
}

.container-footer .footer-right div {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.container-footer .footer-right h4 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-footer .footer-right h4 img {
  color: red;
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}

/*Media Queries*/

/*Media queries Tablet*/
@media screen and (width >= 768px) and (width <= 1025px) {
  .container-header-top img {
    width: 100px;
    height: 100px;
  }

  .container-header-top h1 {
    font-size: 1.7em;
  }

  .container-header-top h5 {
    font-size: 1.5em;
  }
}

/*Media queries Desktop*/
@media screen and (width > 1025px) {
  .container-header-top img {
    width: 110px;
    height: 110px;
  }

  .container-header-top h1 {
    font-size: 1.3em;
  }

  .container-header-top {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container-header-button ul {
    width: 100%;
    column-gap: 0.5em;
    justify-content: flex-start;
  }

  .container-header-button ul li {
    width: 110px;
    transition: all 0.3s ease-in-out;
  }

  .container-header-button ul li:hover {
    transform: scale(1.1);
    background-color: rgba(32, 236, 49, 0.8);
  }

  .container-header-button ul a {
    font-size: 0.9em;
  }

  .container-header-button .button-menu {
    display: none;
  }
}
