.container-box {
  display: flex;
  flex-direction: column;
  width: 95%;
  row-gap: 1em;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box:nth-child(2) {
  row-gap: 1em;
}

.box h3 {
  min-width: 150px;
  width: clamp(150px, 100%, 400px);
  text-align: center;
  text-transform: uppercase;
  padding: 0.2em;
  border-radius: 0.1em;
  color: white;
  font-size: 0.8em;
  background-image: linear-gradient(
    90deg,
    rgba(90, 200, 50, 255),
    rgba(0, 180, 20, 255),
    rgba(0, 110, 20, 255)
  );
}

.box-jumbotron {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 0.5em;
}

/*Estilo de la seccion de informacion*/
.container-information {
  width: 95%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  row-gap: 1em;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 0.5em;
}

.container-information h3 {
  width: clamp(150px, 100%, 700px);
  text-align: center;
  text-transform: uppercase;
  padding: 0.3em;
  border-radius: 0.1em;
  color: white;
  font-size: 1em;
  background-image: linear-gradient(
    90deg,
    rgba(90, 200, 50, 255),
    rgba(0, 180, 20, 255),
    rgba(0, 110, 20, 255)
  );
}

.container-information div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-information a {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.container-information a img {
  object-fit: fill;
  width: 100px;
  height: 100px;
}

.container-information p {
  text-align: justify;
  font-size: 0.7em;
  color: white;
}

/*Media queries*/

/*Media queries Tablet*/
@media screen and (width >= 768px) and (width <= 1025px) {
  .box h3 {
    width: clamp(150px, 100%, 600px);
  }
}

/*Media queries Tablet-PC*/
@media screen and (width >= 768px) {
  .box h3 {
    font-size: 1em;
  }
}

/*Media queries Pc*/
@media screen and (width >= 1025px) {
  .container-box {
    flex-direction: row;
    column-gap: 0.5em;
    justify-content: center;
  }

  .box {
    width: 25%;
  }

  .box:nth-child(2) {
    width: 50%;
  }

  .container-information div {
    flex-direction: row;
    column-gap: 1em;
  }

  .container-information a:hover {
    transform: scale(1.1) translateY(-0.5em);
  }
}
